<?xml version="1.0" ?>
<robot name="robot">
    <webots>
    <device reference="camera" type="Camera">
            <ros>
                <!-- <topicName>/robot/camera/image_color</topicName> -->
                <alwaysOn>true</alwaysOn>      
            </ros>
        </device>
        <plugin type="pong_game.my_robot_driver.MyRobotDriver" />
    </webots>
</robot>